body{
    font-family:"Roboto", sans-serif;
    background-color:#fff;
    color: #434455;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}
a:hover, a:focus{
    color: #404bbf;
    text-decoration: none;
}
button:hover, button:focus{
    background: #404bbf;
}
a{
    font-size: 12px;
    line-height: 1.5;
    text-decoration: none;
}
img{
    display: block;
}

.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-nav{
    padding: 0;
    gap: 40px;
}
.section-one-title{
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
}
.section-one-button{
    font-size: 16px;
    line-height: 1.5;
    background: #4d5ae5;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    max-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.title-two-level{
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.title-three-level{
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.p-section{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}
.link-logo-header{
    line-height: 1.17;
    color: #404bbf;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 76px;
    
}
.logo-color{
    color: #2e2f42;
}
.nav-link{
    color:#2e2f42;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-address{
    font-style: normal;
    letter-spacing: 0.02em;
    margin-left: 332px;
}
.nav-address-link{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-one{
    max-width: 1440px;
    background: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;

}
.section-three{
    background: #f4f4fd;
    padding: 120px 0;
}
.footer{
    background: #2e2f42;
    padding: 100px 0;
}
.link-logo-footer{
    color: #4d5ae5;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}
.footer > p{
    color: #f4f4fd;

}
.section-three-img{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
}
.logo-color-footer{
    color: #f4f4fd;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    width: 1158px;
}
.nav{
    display: flex;
    align-items: center;
}
.address-list{
    gap: 40px;
}
.section-two{
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-two-list{
    gap: 24px;
}
.section-two-list-item{
    width: calc((100% - 72px) / 4);
}
.section-three-list{
    gap: 24px;
}
.name-team{
    padding: 32px 0;
    text-align: center;
}
.section-four{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-four-list{
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.section-four-list-item{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header > .container{
    display: flex;
    align-items: center;
}
.section-one > .container{
    flex-direction: column;
    align-items: center;
    display: flex;
}

.section-four-item{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.footer > .container{
    display: flex;
    align-items: baseline;
}
.p-footer{
    max-width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.antenna{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.current{
    color: #404BBF;
}
.current::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.list-icons{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.list-icons-item{
    width: 40px;
    height: 40px;
}
.icons-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-link:hover,
.icons-link:focus{
    background-color: #404bbf;
}
.icons-item{
    fill: #f4f4fd;
}
.section-four-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.img-container{
    position: relative;
    overflow: hidden;
}
.wrapper-p{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-four-list-item:hover .wrapper-p{
    transform: translateY(0%);
}
.footer-wrapper{
    margin-right: 120px;
}
.social-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.list-icons-footer{
    display: flex;
    gap: 16px;
}
.icons-footer:hover,
.icons-footer:focus{
    background-color: #31d0aa;
}
.section-three-p{
    margin-bottom: 8px;
}
.footer-social{
    margin-right: 80px;
}
.modal-overlay{
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}
.modal-overlay.is-open{
    opacity: 1;
    pointer-events: auto;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fcfcfc;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-direction: column;
    padding: 72px 24px 24px 24px;

}
.modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}


.modal-icons{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-footer{
    background-color: #2e2f42;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
}
.p-form{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.form-footer{
    display: flex;
    gap: 24px;
}

.footer-inp{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
.footer-inp::placeholder{
    color: #ffffff;
}
.icons-form{
    margin-left: 16px;
}
.btn-form{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.name-div{
    margin-bottom: 8px;
}
.lb-name{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.modal-inp-div{
    position: relative;
}
.modal-inp-name{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-inp-name:focus{
    border-color: #4D5AE5;
}
.modal-inp-icons{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-inp-name:focus + .modal-inp-icons{
    fill: #4D5AE5;
}
.modal-div-textarea{
    margin-bottom: 16px;
}
.modal-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus{
    border-color: #4D5AE5;
}
.modal-div-check{
    margin-bottom: 24px;
}
.lb-check{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
}
.lb-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}
.modal-check:checked + .lb-check > span{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;;
}
.modal-link{
    color: #4d5ae5;
    text-decoration: underline;
}
.modal-btn-end{
    display: block;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}