.hidden {
    display: none;
}
body{
    font-family:"Roboto", sans-serif;
    background-color:#fff;
    color: #434455;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}
a:hover, a:focus{
    color: #404bbf;
    text-decoration: none;
}
button {
    cursor: pointer;
    padding: 0;
    margin: 0;
}
a{
    font-size: 12px;
    line-height: 1.5;
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* commom */

.container{
    padding: 0 16px;
    margin: 0 auto;
    max-width: 320px;
}

@media screen and (min-width: 768px) {
    .container{
    max-width: 768px;
    }
}
@media screen and (min-width: 1168px) {
    .container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1440px;
    }
}


/* header */
.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-nav, .nav-address{
    display: none;
}
.link-logo-header{
    line-height: 1.17;
    color: #404bbf;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 16px 0;
    display: block;
}
.logo-color{
    color: #2e2f42;
}

.nav-btn-mob {
    padding: 0;
    border: none;
    background-color: transparent;
}
.nav-mob-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .nav-btn-mob {
        display: none;
    }

    .nav{
        display: flex;
        align-items: center;
    }

    .page-nav {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .link-logo-header{
        padding: 24px 0;
        margin-right: 120px;
    }
    
    .nav-link{
        color:#2e2f42;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current{
        color: #404BBF;
    }

    .current::after{
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .nav-address{
        font-style: normal;
        display: block;
    }
    .nav-link:hover,.nav-link:focus,
    .nav-address-link:hover, .nav-address-link:focus{
        color: #404BBF;
    }
    .address-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .nav-address-link{
        display: block;
        line-height: 1.17;
        color: #434455;
        font-size: 12px;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
@media screen and (min-width: 1168px) {
    .link-logo-header{
        margin-right: 76px;
    }
    .address-list{
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .nav-address-link{
        padding: 24px 0;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}


/* section-one */

.section-one-container{
    background: #2e2f42;
    padding: 72px 52px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/section-one/Dark-bg-mob-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}
.section-one-title{
    font-size: 36px;
    line-height: 1.11;
    color: #fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 216px;
    margin-bottom: 72px;
}
.section-one-button{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}
@media (min-resolution: 2x) {
    .section-one-container{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/section-one/Dark-bg@2x-mob-min.jpg);
    }
}
@media screen and (min-width: 768px) {
    .section-one-container{
    padding: 112px 136px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/section-one/Dark-bg-tab-min.jpg);
    }
    .section-one-title{
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
    }
    @media (min-resolution: 2x) {
    .section-one-container{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/section-one/Dark-bg@2x-tab-min.jpg);
    }
}
}
@media screen and (min-width: 1168px) {
    .section-one-container{
    padding: 188px 472px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/section-one/people-office-min.jpg);
    }
    @media (min-resolution: 2x) {
    .section-one-container{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/section-one/people-office@2x-min.jpg);
    }
}
}


/* section-two */

.section-two{
    padding: 96px 0;
}
.section-two-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.section-two-list-item{
    max-width: 288px;
}
.antenna {
    display: none;
}
.title-section-two-list{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.p-section-two{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .section-two-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .section-two-list-item{
        width: calc((100% - 24px) / 2);
    }
    .title-section-two-list{
        text-align: left;
    }
}
@media screen and (min-width: 1168px) {
    .section-two{
        padding: 120px 0;
    }
    .section-two-list{
        gap: 24px;
    }
    .section-two-list-item{
        width: calc((100% - 72px) / 4);
    }
    .antenna{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }
    .title-three-level{
        font-size: 20px;
        line-height: 1.2;
        color: #2e2f42;
        font-weight: 500;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }
    .p-section-two{
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
        letter-spacing: 0.02em;
    }
}